.card {
  display: flex;
  flex-direction: column;
  flex: none;
  width: 250px;
  position: relative;
}

.disabled {
  opacity: 0.5;
}

.image {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
}

.title {
  width: 100%;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.price {
  font-size: 0.875rem;
}

.favorite {
  position: absolute;
  right: 8px;
  top: 8px;
  opacity: 0;
}

.card:hover .favorite {
  opacity: 1;
}