.titles{
    font-size: var(--font-size-title);
}

.description{
    font-size:  var(--font-size-text);
}

.greatContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;

}

/*Este nombre lo eligio martu*/
.pepito{

    display: flex;
    gap: 20px;
    flex-direction: column;
}
/*Este tambien*/
.rumba{
    font-size: var(--font-size-title);
    display: flex;
    flex-direction: column;
    flex: 3;
}


.container{
    display: flex;
    padding: 20px;
    gap: 15px;

    justify-content: space-between;
}

.title{
    font-size:var(--font-size-text) ;
}

.description{
    font-size:var(--font-size-subtext) ;
    max-width: 500px;
    
}
.price{
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-highlight);
}


.productInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

.border{
    border-bottom: 1px solid #000;
}

/*Productos*/
.productView{
    width: fit-content;

}

/*Botones*/


.buttonContainer{
    display: flex;
    flex-direction: row;
    border: 0.5px solid #000;
    height: fit-content;
    font-size: var(--font-size-subtitle);
    align-items: center;
    justify-content: flex-end;
    width: fit-content;

}

.button{
    margin: 10px;

}

.button:hover{
    font-weight: bold;
}

.productAcomodo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.remove{
    border: 0.5px solid #000;
    width: fit-content;
    padding: 10px;
    font-size: var(--font-size-text);
}

.remove:hover{
    font-weight: bold;
}

.botonComprarContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
}





/*Cart Summary*/
.cartSummary{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex: 1;

    border: 1px solid #000;
    height: fit-content;

}



.cartInfo{
    font-size: var(--font-size-subtext);
    font-weight: var(--font-weight-highlight);
}

.summaryTitle{
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-highlight);
    text-align: center;
    margin: 10px;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.cartImage{
    max-width:75px;
    margin: 10px;

}

.cartContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.manageCart{
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-highlight);
}


/*Image*/
.image{
    max-width: 200px;
    aspect-ratio: 3/2;
    object-fit: contain;
}