.artworkSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 64px;
}

.image {
  width: 320px;
  flex: 1 320px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.dataContainer {
  flex: 1 320px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.dataHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: var(--font-size-subtitle);
}

.price {
  font-size: var(--font-size-title);
  font-weight: bold;
}

.description {
  font-size: var(--font-size-subtext);
  text-wrap: wrap;
}

.categoryContainer {
  font-size: var(--font-size-subtext);
  display: flex;
  gap: 24px;
}

.category {
  text-decoration: underline;
}

.artistSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.artistTitle {
  font-weight: var(--font-weight-highlight);
}

.artistName {
  font-size: var(--font-size-subtitle);
}

.artistBiography {
  font-size: var(--font-size-subtext);
}
