:root {
  --color-black: #000000;
  --font-size-title: 1.5rem;
  --font-size-subtitle: 1.25rem;
  --font-size-text: 0.875rem;
  --font-size-subtext: 0.625rem;
  --font-weight-default: 400;
  --font-weight-highlight: 700;
  --padding-inline-responsive: 80px;
}

@media screen and (max-width: 768px) {
  :root {
    --padding-inline-responsive: 40px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --padding-inline-responsive: 20px;
  }
}

@media screen and (max-width: 320px) {
  :root {
    --padding-inline-responsive: 10px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-black);
  font-weight: var(--font-weight-default);
  font-size: var(--fontsize-text);
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-inline: var(--padding-inline-responsive);
  padding-top: 80px;
}