:root {
  --color-black: #000000;
  --fontsize-title: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  word-spacing: 18%;
  color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}